/*内联code的样式*/
.post-content code, .comment-content code {
    display: inline;
    margin: 0 5px;
    padding: 3px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/*code块的样式*/
code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 0;
	border: 0;
}